{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "API Reference for the Kaleido Platform",
    "description": "As a business network full stack platform, Kaleido provides a complete set of API for administrators, network operators and DApps developers.\n\nThe administrative endpoints provide full lifecycle operations around platform resources (consortia, environment, nodes, services, etc.) Each participating organization can use the API\nto fully automate the DevOps pipeline. Most of the resources are scoped to the organization that the logged in user is associated with. Some resources like consortia and environments\nsupport decentralized governance.\n\nIn a decentralized consortium, no single participant can delete the consortium until all but one participants have left the consortium.\n\nIn a decentrallized environment, no single participant can delete the environment until all but one participants have deleted their resources (nodes, services) inside the environment.\n\n## Deployment Regions\nKaleido is available in multiple regions. When a user resource like nodes or services is provisioned, a deployment region is determined based on a number of factors. This means the resource\nmay be in a different region than the Kaleido console (the web UI). As such, when calling a Kaleido API, make sure to use the correct hostname for the region that the resource was provisioned in.\n\nAPI endpoints for different regions are specified in [Regional API Endpoints](https://docs.kaleido.io/developers/automation/regions/).\n\n## Query parameters\nMost GET endpoint support Mongo query strings.\n\n## Resources And Services\nThe API is organized around the *Platform Resources* and *Services*. Platform resources include the foundation components to start a business network, such as consortia, environments, services,\nintegration, etc. Kaleido has a large catalog of services, each providing their own developer-facing API. Each service API is displayed in their own category after the Platform Resources.\n",
    "contact": {
      "name": "Kaleido",
      "url": "https://api.kaleido.io"
    },
    "x-logo": {
      "url": "images/kaleido.svg",
      "altText": "Kaleido Logo",
      "backgroundColor": "#462de0"
    }
  },
  "servers": [
    {
      "url": "https://console.kaleido.io/api/v1",
      "description": "AWS US API base endpoint"
    },
    {
      "url": "https://console-eu.kaleido.io/api/v1",
      "description": "AWS EU API base endpoint"
    },
    {
      "url": "https://console-ap.kaleido.io/api/v1",
      "description": "AWS Sydney API base endpoint"
    },
    {
      "url": "https://console-ko.kaleido.io/api/v1",
      "description": "AWS Seoul API base endpoint"
    },
    {
      "url": "https://console-us1.kaleido.io/api/v1",
      "description": "Azure US API base endpoint"
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "Organization-specific administrative tokens that allow for resource CRUD operations via the Kaleido API.  Similar to application credentials,\nAPI Keys are onetime-viewable strings and are not stored by the Kaleido backend. These endpoints do not support API Key generation and can only\nbe used to retrieve or edit existing keys.\n"
    },
    {
      "name": "Application Credentials",
      "description": "A username/password pair securing external access to a node via basic access authentication.  Credentials are bound to a consortia membership,\nare only applicable within the environment in which they are created and must be provisioned against the same membership ID of the targeted node\nor service in order for an authenticated connection to take place.  The credential password is a onetime-viewable string and is not stored by the Kaleido backend.\n"
    },
    {
      "name": "Audit",
      "description": "Retrieves a history of resource-specific CRUD operations associated with a Kaleido user's organization and/or a specific consortia (e.g. invitation\nissued, membership created, node deleted, etc.)\n"
    },
    {
      "name": "Channels",
      "description": "Applicable to Hyperledger Fabric environments, channels allow client applications to programmatically construct mini-blockchains in the same Fabric blockchain network.\n"
    },
    {
      "name": "Configurations",
      "description": "Resource objects used to integrate customer-controlled AWS services such as Key Management Stores, CloudWatch, PrivateLink, etc. with a Kaleido node.\nConfigurations are defined by a type (e.g. kms, backup, opsmetric, etc.) and must be provisioned prior to creating the node.  All configurations are\nenvironment-specific and rely on proper orchestration of the cloud resources.\n"
    },
    {
      "name": "Consortia",
      "description": "A top level Kaleido resource defined by a charter and grouping of memberships.  The memberships in a consortium can be bound to a single Kaleido Org\nor distributed across multiple Kaleido Orgs.  A consortium encapsulates environments and the subsequent resources (e.g. nodes and application credentials)\nprovisioned within an environment.\n"
    },
    {
      "name": "Contracts",
      "description": "A contract project serves as a wrapping container to organize multiple compilations / versions of a specific Solidity contract.\n(The Kaleido resource for a contract compilation is called a <a href=\"platform.html#tag/Compiled-Contracts\">Compiled Contract</a>.)  \nContract projects are created with a specific project type (GitHub or Precompiled) and are shared resources for all members in the consortium.\n"
    },
    {
      "name": "Compiled Contracts",
      "description": "A compiled_contract is an individual compilation / version of a specific Solidity contract.  Compiled contracts exist in the context of a \n<a href=\"platform.html#tag/Contracts\">Contract</a> project.\nCompiled contracts can be created by importing the source from Github, or, by compiling yourself and providing the ABI and bytecode.\nSuccessful compilations can then be promoted to specific environments which results in a \n<a href='platform.html#tag/Ledger/paths/~1ledger~1{consortia_id}~1{environment_id}~1gateway_apis/get'>Gateway API</a> on the environment \nwhich can be used to deploy new instances of the contract, as well as interact with previously deployed instances.\n"
    },
    {
      "name": "Environments",
      "description": "Isolated domain used to host the blockchain runtime.  Environments are configurable upon creation, with different node clients (Geth, Quorum, Hyperledger Besu, \nCorda and Hyperledger Fabric) and multiple consensus algorithms (Raft, PoA and IBFT) available to choose from. Each environment hosts its own unique ledger and \ncan be tethered to a public Ethereum chain for state finality and collusion resistance.  Nodes, application credentials, services, and configurations are all \nspecific to the environment within which they are created.\n"
    },
    {
      "name": "Identity Proof",
      "description": "Digital x509 certificate used as attestation for an asserted Kaleido Identity.  Proofs can be used in conjunction with a specific Ethereum address bound\nto the calling Kaleido Org to establish an on-chain identity.\n"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Invitations",
      "description": "Used to extend participation offers to external Kaleido Organizations.  Invitations can be issued on the organizational level for shared administration\nprivileges or on the consortia level for membership/environment/node/credential CRUD permissions.\n"
    },
    {
      "name": "Ledger",
      "description": "Used to access blockchain data like transactions, blocks, contracts, and address details.  Updating contract metadata and compiling for verification is\nalso supported here.\n"
    },
    {
      "name": "Memberships",
      "description": "Resource objects used to define an organization within the context of a consortium.  Kaleido organizations can exist in a consortia through a single \nmembership or through a series of memberships.  Environmental resource objects (e.g. nodes, credentials, configurations, etc.) are always bound to a \nspecific membership ID.\n"
    },
    {
      "name": "Nodes",
      "description": "The network resources responsible for transaction execution, block signing/consensus and maintaining the ledger.  Nodes are bound to a consortia membership \nand inherit the environment's client/consensus configuration (e.g. Geth + PoA).\n"
    },
    {
      "name": "OAuth Configurations",
      "description": "OAuth Resource Server Configurations for authorizing applications to connect to your nodes via the Blockchain Application Firewall (BAF) with JWT\ntokens signed by an OAuth Authorization Server.\n"
    },
    {
      "name": "Organizations",
      "description": "Enumerates all subscriptions your Kaleido Organization has access to.  These endpoints do not support the creation of new Kaleido Orgs and can only be used \nto retrieve or edit existing subscriptions.\n"
    },
    {
      "name": "Plans",
      "description": "Top level identifier for Kaleido resource accessibility and associated limitations.  Starter, Team, Business and Enterprise are the currently available tiers.\n"
    },
    {
      "name": "Regions",
      "description": "Enumerates the current availability zones for account and resource creation.  API host (e.g. https://console-eu.kaleido.io) defines the targetable URL.  \nDeployment host (e.g. eu-central-1) defines the cloud provider location.\n"
    },
    {
      "name": "Releases",
      "description": "Enumerates the current and historical versions of the Geth, Quorum, Hyperledger Besu, Corda and Hyperledger Fabric node software.  Each release is defined by a \nunique resource ID and contains a description field expanding on the fixes and updates applied to the docker image (e.g. faster block indexing, improved nonce management, etc.)\n"
    },
    {
      "name": "Roles",
      "description": "Enumerates the current administrators associated with a specific Kaleido Organization.  Use these endpoints to query, add, or remove roles from your Kaleido Org.\n"
    },
    {
      "name": "Services",
      "description": "A grouping of bespoke Kaleido resources offering extended functionality and security (e.g. ID Registry for on-chain validated identities or HD Wallet for \nidentity masking).  Offered on an a la carte basis, services exist as environment-specific objects that can be directly bound to a consortia member or shared \nacross the environment as a utility.\n"
    },
    {
      "name": "Tenants",
      "description": "A mechanism to authorize multiple separate entities to share a single multi-tenant blockchain node. A group of tagged tenants can be dynamnically assigned to a\nnode using a Blockchain Application Firewall (BAF) configuration referencing the tag.\n"
    },
    {
      "name": "Zones",
      "description": "The areas in which Kaleido resources are able to exist. Multi-region support allows for resources to communicate across cloud providers and regions. Resources \nwill inherit the default zone that was set upon creation of the parent resource if none is specified.\n"
    }
  ],
  "paths": {
    "/apikeys": {
      "get": {
        "summary": "Get info about the API Keys",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "API Keys"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "API Keys Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a new API Key",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKey_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "201": {
            "description": "API Key Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apikeys/{apikey_id}": {
      "get": {
        "summary": "Get a specific API Key",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apikey_id"
          }
        ],
        "responses": {
          "200": {
            "description": "API Key Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update an API Key",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apikey_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKey_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "201": {
            "description": "API Key Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete an API Key",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apikey_id"
          }
        ],
        "responses": {
          "204": {
            "description": "API Key Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/appcreds": {
      "get": {
        "summary": "Get the Application Credentials of a particular environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Application Credentials Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCredential"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create new Application Credentials",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application Credential Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "201": {
            "description": "Application Credential Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/appcreds/{appkey_id}": {
      "get": {
        "summary": "Get a specific Application Credential",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/appkey_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Application Credential Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "404": {
            "description": "Application Credential Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "summary": "Upsert a specific Application Credential",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/appkey_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application Credential Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "201": {
            "description": "Application Credential Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "404": {
            "description": "Application Credential Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific Application Credential",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/appkey_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application Credential Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "201": {
            "description": "Application Credential Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "404": {
            "description": "Application Credential Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete an Application Credential",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/appkey_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Application Credential Deleted"
          },
          "404": {
            "description": "Application Credential Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/appcreds/{appkey_id}/regenerate": {
      "post": {
        "summary": "Regenerate the password for a specific app cred",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Application Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/appkey_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Application Credential Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "201": {
            "description": "Application Credential Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          },
          "404": {
            "description": "Application Credential Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/audit": {
      "get": {
        "summary": "Get all events with the provided jwt",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Audit"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Audit Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audit"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/audit/{consortia_id}": {
      "get": {
        "summary": "Get all events for a particular consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Audit"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Audit Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audit"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/configurations": {
      "get": {
        "summary": "Get the configurations for an environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Configurations Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Configuration"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a configurations for the environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "201": {
            "description": "Configuration Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "404": {
            "description": "Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/configurations/{config_id}": {
      "get": {
        "summary": "Get a specific configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/config_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "404": {
            "description": "Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "summary": "Upsert a specific configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/config_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "201": {
            "description": "Configuration Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "404": {
            "description": "Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/config_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "201": {
            "description": "Configuration Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "404": {
            "description": "Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/config_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Configuration Deleted"
          },
          "404": {
            "description": "Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia": {
      "get": {
        "summary": "Get all consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Consortia Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Consortia"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consortia_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consortia Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consortia"
                }
              }
            }
          },
          "201": {
            "description": "Consortia Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consortia"
                }
              }
            }
          },
          "404": {
            "description": "Consortia Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}": {
      "get": {
        "summary": "Get a specific consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Consortia Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consortia"
                }
              }
            }
          },
          "404": {
            "description": "Consortia Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consortia_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consortia Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consortia"
                }
              }
            }
          },
          "201": {
            "description": "Consortia Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consortia"
                }
              }
            }
          },
          "404": {
            "description": "Consortia Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "202": {
            "description": "Request Accepted"
          },
          "404": {
            "description": "Consortia Not Found"
          }
        }
      }
    },
    "/consortia/{consortia_id}/charter": {
      "get": {
        "summary": "Get the charter of a specific consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Consortia"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Consortia charter Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charter"
                }
              }
            }
          },
          "404": {
            "description": "Consortia charter Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/contracts": {
      "get": {
        "summary": "Get all contracts for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Contracts Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a contract for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contract_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "201": {
            "description": "Contract Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/contracts/{contract_id}": {
      "get": {
        "summary": "Get a specific contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contract_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "201": {
            "description": "Contract Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Contract Deleted"
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/contracts/{contract_id}/compiled_contracts": {
      "get": {
        "summary": "Get all compiled contracts for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Compiled Contracts Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompiledContract"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a compiled contract for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompiledContract_Create_Input"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompiledContract_Create_Input_File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compiled Contract Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledContract"
                }
              }
            }
          },
          "201": {
            "description": "Compiled Contract Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledContract"
                }
              }
            }
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/binaries/consortia/{consortia_id}/contracts/{contract_id}/compiled_contracts": {
      "post": {
        "summary": "Create a compiled contract for the consortia by uploading a large file",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompiledContract_Create_Input_File"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Compiled Contract Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledContract"
                }
              }
            }
          },
          "404": {
            "description": "Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/contracts/{contract_id}/compiled_contracts/{compiled_contract_id}": {
      "get": {
        "summary": "Get a specific compiled contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          },
          {
            "$ref": "#/components/parameters/compiled_contract_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Compiled Contract Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledContract"
                }
              }
            }
          },
          "404": {
            "description": "Compiled Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific compiled contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          },
          {
            "$ref": "#/components/parameters/compiled_contract_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompiledContract_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compiled Contract Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledContract"
                }
              }
            }
          },
          "201": {
            "description": "Compiled Contract Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "404": {
            "description": "Compiled Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific compiled contract",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          },
          {
            "$ref": "#/components/parameters/compiled_contract_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Compiled Contract Deleted"
          },
          "404": {
            "description": "Compiled Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/contracts/{contract_id}/compiled_contracts/{compiled_contract_id}/promote": {
      "post": {
        "summary": "Promote the compiled contract to an environment. This will install a Gateway API on the environment which can be used to deploy new instances of this contract, as well as interact with previously deployed instances.",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Compiled Contracts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/contract_id"
          },
          {
            "$ref": "#/components/parameters/compiled_contract_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompiledContract_Promote_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CompiledContract Promoted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "Compiled Contract Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/integrations": {
      "get": {
        "summary": "Get all integrations for the environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create an integration for the environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Integration_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "201": {
            "description": "Integration Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "404": {
            "description": "Integration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/integrations/{integration_id}": {
      "get": {
        "summary": "Get a specific integration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/integration_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Integration Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "404": {
            "description": "Integration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific integration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/integration_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Integration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration_Update_Input"
                }
              }
            }
          },
          "404": {
            "description": "Integration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific integration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/integration_id"
          }
        ],
        "responses": {
          "202": {
            "description": "Request Accepted"
          },
          "404": {
            "description": "Integration Not Found"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/integrations/{integration_id}/reset": {
      "post": {
        "summary": "Reset the state of the integration by clearing out the tracking details and regenerating the app cred",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/integration_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Integration Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "201": {
            "description": "Integration Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "404": {
            "description": "Integration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/channels": {
      "get": {
        "summary": "Get all channels in the environment (Fabric environments only)",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a channel in the Fabric environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel_Create_Input"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "404": {
            "description": "Channel Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/channels/{channel_id}": {
      "get": {
        "summary": "Get a specific channel",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "404": {
            "description": "Channel Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific channel's members list",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel_Update_Input"
                }
              }
            }
          },
          "404": {
            "description": "Channel Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/channels/{channel_id}/deploy": {
      "post": {
        "summary": "Deploy chaincode to a channel",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Chaincode_Deploy_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chaincode deploy request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        }
      }
    },
    "/invitations": {
      "get": {
        "summary": "Get all invitations for the current user where they are the target",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Invitations Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invitation"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/invitations": {
      "get": {
        "summary": "Get all invitations for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitations Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invitation"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create an invitation for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invitation_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "201": {
            "description": "Invitation Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/invitations/{invitation_id}": {
      "get": {
        "summary": "Get a specific invitation",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "summary": "Upsert a specific invitation",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invitation_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "201": {
            "description": "Invitation Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific invitation",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invitation_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "201": {
            "description": "Invitation Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific invitation",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Invitation Deleted"
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/invitations/{invitation_id}/charter": {
      "get": {
        "summary": "Get a specific invitation with some extra info",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationCharter"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/zones": {
      "get": {
        "summary": "Get all deployment zones for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Zones Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Zone"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create a deployment zone for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zone_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "201": {
            "description": "Zone Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "404": {
            "description": "Zone Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/zones/{zone_id}": {
      "get": {
        "summary": "Get a specific consortia deployment zone",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/zone_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Zone Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "404": {
            "description": "Zone Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific consortia deployment zone",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/zone_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zone_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "201": {
            "description": "Zone Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "404": {
            "description": "Zone Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific consortia deployment zone",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/zone_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Zone Deleted"
          },
          "404": {
            "description": "Zone Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments": {
      "get": {
        "summary": "Get all environments for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environments Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create an environment for the consortia",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Environment_Create_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}": {
      "get": {
        "summary": "Get a specific environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update a specific environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Environment_Update_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "201": {
            "description": "Environment Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "202": {
            "description": "Request Accepted"
          },
          "404": {
            "description": "Environment Not Found"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/status": {
      "get": {
        "summary": "Get an Environment's status",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentStatus"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/ethstats": {
      "get": {
        "summary": "Get an Environment's Ethereum-specific stats",
        "description": "Only applicable to Ethereum environments. Returns each node's transaction pool status, block height and p2p network peers",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eth_Stats"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/genesis": {
      "get": {
        "summary": "Get an Environment's genesis configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/upgrade": {
      "post": {
        "summary": "Upgrade a specific environment to the latest version",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/hardfork": {
      "post": {
        "summary": "Apply available hard fork EIPs to a specific environment",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "options",
                "type": "object",
                "properties": {
                  "hard_fork_with_upgrade": {
                    "type": "boolean",
                    "description": "When set to true, upgrades environment to latest version and applies optional_hardfork_eips of the latest release",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "description": "Environment Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/eth/fundaccount": {
      "post": {
        "summary": "Fund an account from the environment's faucet. Can transfer ETH or tokens owned by the faucet account.",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "fund_account",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Type of fund to transfer. Can be `eth` or `token`",
                    "default": "eth"
                  },
                  "account": {
                    "type": "string",
                    "description": "The Ethereum address to send funds to"
                  },
                  "amount": {
                    "type": "string",
                    "description": "The amount to send"
                  },
                  "unit": {
                    "type": "string",
                    "description": "The unit of ether to send (ex. ether, qwei, wei, finney, etc.)",
                    "default": "ether"
                  },
                  "tokenAddress": {
                    "type": "string",
                    "description": "The address of the token contract. Required if type is set to `token`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReceipt"
                }
              }
            }
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/eth/getbalance/{address}": {
      "get": {
        "summary": "Get ether balance of the account.",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          },
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eth_Balance"
                }
              }
            }
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/backup/status": {
      "get": {
        "summary": "Get an Environment's Backup Status",
        "description": "Only applicable to Ethereum environments that have Environment Backups enabled. Returns a record of history of all backup files for an environment.",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Backup Status Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Env_Backup_Status"
                }
              }
            }
          },
          "404": {
            "description": "Environment Backup Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/consortia/{consortia_id}/environments/{environment_id}/backup": {
      "get": {
        "summary": "Get an Environment's Backup Configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment Backup Object Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Env_Backup_Object"
                }
              }
            }
          },
          "404": {
            "description": "Environment Backup Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create an Environment's Backup Configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Env_Backup_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment Backup Object Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Env_Backup_Object"
                }
              }
            }
          },
          "404": {
            "description": "Environment Backup Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "summary": "Update an Environment's Backup Configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Env_Backup_Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment Backup Object Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Env_Backup_Object"
                }
              }
            }
          },
          "404": {
            "description": "Environment Backup Configuration Not Found"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific environment's backup configuration",
        "security": [
          {
            "bearer_token": []
          }
        ],
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/consortia_id"
          },
          {
            "$ref": "#/components/parameters/environment_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Request Accepted"
          },
          "404": {
            "description": "Environment Backup Configuration Not Found"
          },
          "500": {
[...]
